!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title #{(title ? title + " - " : "")} Blog - RapidBoX
    %meta(name="description" content="Rapid prototype for your idea")
    %meta(name="viewport" content="width=device-width")
    %link(href="/style.css" rel="stylesheet")
    %link(href="/print.css" rel="stylesheet" media="print")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      #header
        %a{href: "/"}
          %img.logo{src: "http://db.tt/E0d1MoRJ", alt: "RapidBox"}
          .tagline
            Rapid App Prototype
      = content
      
      #footer
        %p &copy; 2013 BoX-Capital
        %p Wheat running on node #{process.version}
